/*
    Tulis selector CSS kamu di sini!

    Quest 1:
    1. nav → flex container, logo kiri dan nav-links di kanan
    2. .logo → font besar + letter-spacing biar mirip design
    3. .nav-links → flex, hilangkan bullet list-nya

    Quest 2:
    4. .hero → flex, teks di tengah layar, tinggi cukup besar
    5. .hero → background gradient (putih → abu-abu), hint: linear-gradient
    6. .hero-title → font super besar, huruf kapital

    Quest 3:
    7. .tentang → background putih, padding dalam
    8. .tentang-content → flex, 2 kolom sejajar
    9. .card → font tebal, line-height biar enak dibaca
*/
* {
    font-family: "Iosevka Charon", monospace !important;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: #dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
}

.hero {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #ffffff 0%, #858585 100%);
    padding: 40px 20px;
}

.hero-title {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 4px;
    margin-bottom: 8px;
}

.hero-description {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.tentang {
    background-color: #ffffff;
    padding: 50px 60px;
}

.tentang-title {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.tentang-content {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.card {
    flex: 1;
}

.card p {
    font-size: 1.15rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
}